<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedido Enviado!</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/logo-projeto.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/comprovante.css')}}">
</head>
<body>
    <div class="container">
        <div class="confirmation-card">
            <h1>PEDIDO ENVIADO, AGUARDANDO PAGAMENTO...</h1>
            
            <p>
                <span class="highlight">Obrigado {{ nome }}</span> por participar da nossa campanha. 
            </p>
            <p>Para efetivar o seu pedido no valor de <strong> R$ {{ total}},00 </strong>, <strong>pedimos que envie o comprovante do PIX até o dia 31/08</strong>. <strong>Caso contrário, o pedido será cancelado.</strong></p>
            
            <div class="pagamento-info">
                <p>CHAVE PIX: 19981530819</p>
                <p>Cedente: Fabiana Higuti | Banco: Inter</p>
            </div>

            <p>
                Basta clicar no link abaixo para anexar o comprovante:
            </p>


            
            <a href="https://wa.me/5519981530819?text=Ol%C3%A1%2C%20segue%20o%20comprovante%20do%20meu%20pedido%20de%20pizza!" 
               target="_blank" class="whatsapp-link">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-whatsapp"><path d="M16.75 2H7.25A5.25 5.25 0 0 0 2 7.25v9.5A5.25 5.25 0 0 0 7.25 22h9.5A5.25 5.25 0 0 0 22 16.75V7.25A5.25 5.25 0 0 0 16.75 2Z"/><path d="M12 17V7"/><path d="m9 10 3-3 3 3"/></svg>
                Enviar Comprovante
            </a>

            <p>Sugerimos <strong>PRINTAR</strong> essa página para guardar a chave pix e o valor, caso deseje pagar posteriormente. <strong> Para mais informações, chame no WhatsApp.</p>

        </div>
    </div>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>